.PageContent {
  padding: 10px;
  margin: 0px 20px;
  position: relative;
  background-color: #fff;
}

.BtnsHolder {
  display: flex;
}

.BtnsHolder button {
  background: none;
  border: none;
  cursor: pointer;
}

.BtnsHolder button:disabled {
  cursor: default;
}